* {
  	box-sizing: border-box;
}


/********** Base styles **********/
h1 {
  margin: 15px;
  font-weight:bold;
}

p {
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  text-align: justify;


}

#div1 {
  background-color: #ffc;

  border: 1px solid black;
  
  overflow: auto;
  font-family: Helvetica;
  
}
#div2 {
  background-color: #ffc;
  
  border: 1px solid black;
  
  overflow: auto;
  font-family: Helvetica;  
}

#div3 {
  background-color: #ffc;

  border: 1px solid black;
  
  overflow: auto;
  font-family: Helvetica;
  
}

#menu1 {
		width:80px;
		height:30px;
		background-color: #339900;
		border: 1px solid black;
		float:right;
    padding: 5px;
    font-weight: bold;
    clear: both;


	


}

#menu2 {
		width:80px;
		height:30px;
		background-color: #847593;
		border: 1px solid black;
		float:right;
    padding: 5px;
    font-weight: bold;
    clear: both;


}

#menu3 {
		width:80px;
		height:30px;
		background-color: #fff;
		border: 1px solid black;
		float:right;
    padding: 5px;
    font-weight: bold;
    clear: both;


}


/* Large devices only */

@media (min-width: 992px) {
  #div1 {
    width: 31.33%;
  	height: 400px;
  	margin:1%;
  	float:left;
  }
  #div2 {
	width: 31.33%;
  	height: 400px;
  	margin:1%;
  	float:left;
  }

  #div3 {
 	width: 31.33%;
  	height: 400px;
  	margin:1%;
  	float:left;


  }
}


/* Medium devices only */
@media (min-width: 768px) and (max-width: 991px) {
  #div1 {
    width: 48%;
    height: 400px;
    margin:1%;
    float:left;

  }
  #div2 {
    width: 48%;
    height: 400px;
    margin:1%;
    float:left;
  }

  #div3 {
  	width: 98%;
    height: 400px%;
    margin:1%;
    float:left;


  }

 
}

/* Mobile devices only */
@media (max-width: 767px) {
  #div1 {
    width: 98%;
    height: 400px;
    margin:1%;

  }
  #div2 {
    width: 98%;
    height: 400px;
    margin:1%;
  }

  #div3 {
  	width: 98%;
    height: 400px;
    margin:1%;


  }
